# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.so
*.egg-info/
.eggs/
*.egg

# Virtual environment
.env
venv/
ENV/

# Django stuff
*.log
*.pot
*.pyc
*.sqlite3
db.sqlite3
media/

# IDE / Editor
.vscode/
.idea/
*.swp


